# Ignore specific files
test.py
.DS_store

# Ignore files in a specific directory
__pycache__/
.vscode/
simulation_data/
simulation_data_mfpt/
plots/
old/
analytical_data/
Densities/

# Ignore files with a specific extension
*.dSYM

